
html {
    display: table;
    margin: auto;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: right top;
    vertical-align: middle;
}


.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 10px;
    width: max-content;
}

.container {
    padding: 2px 16px;
}

.pformat1 {
    margin: 0px;
    padding-left: 30px;
}

.tabitem {
    overflow: hidden;
    border: 0.5px solid #ccc;
    background-color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 2px;
    display: table-cell;
    margin: 0px;
}

.is-chosen {
    color:#409eff;
    border-bottom: 0px;
}

#infoText {
    display: table-cell;
}

.infoCard {
    display: table-cell;
    vertical-align: top;
}

.h4col {
    display: table-cell;
}

.circleimage {
    position: relative; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    border-radius: 50%; 
    z-index: 1;
}


.profilepic { 
    background-color: white;
    border-radius: 50%; 
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    z-index: 1;
    box-shadow:0 1px 3px rgba(0,0,0,.2);
}

.headerimg {
    position:relative;
    height:220px;
    z-index: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgwrapper {
    position:relative;
    top:-40px;
    left: 20px;
    overflow:auto;
    z-index: 2;
}
